{% extends "home.html" %}
{% block main_content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for publication in publications %}
            <div class="post-preview">
                <a href="{% url 'publication-detail' publication.id %}">
                    <h2 class="post-title"> {{ publication.pub_title }} </h2>
                    <h3 class="post-subtitle"> {{ publication.pub_text|truncatewords:10 }} </h3>
                </a>
                <p class="post-meta">
                    Postado por
                    <a href="#!">{{publication.author}}</a>
                    em {{publication.date_pub}}
                </p>
            </div>
            {% endfor %}
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Mais postagens →</a></div>
        </div>
    </div>
</div>
{% endblock %}        
